<article>
  <h1>Productos</h1>
  <div id="productsContainerIndex" class="container">
    {{#each products}}
      <div class="card">
        <h3>{{title}}</h3>
        <img src="{{thumbnail}}" alt={{title}} />
        <p style="font-weight: 600">{{description}}</p>
        <p>Categoría: {{category}}</p>
        <p>Precio: {{price}}</p>
        <p>Código: {{code}}</p>
        <p>Stock: {{stock}}</p>
        <p>Id: {{id}}</p>
        {{#if @root.isAdmin}}
          <button
            class="myDeleteButton"
            style="margin-top: 0.5rem;"
            onclick="deleteProduct('{{id}}')"
          >Eliminar producto</button>
        {{else}}
          <button
            class="myButton"
            style="margin-top: 1rem;"
            onclick="addToCart('{{id}}', '{{@root.user.cart}}')"
          >Agregar al carrito</button>
        {{/if}}
      </div>
    {{/each}}
  </div>
</article>